.double
  %a.score-field{ href: '#', data: { score: 40 } } 20
  %a.score-field{ href: '#', data: { score: 2  } } 1
  %a.score-field{ href: '#', data: { score: 36 } } 18
  %a.score-field{ href: '#', data: { score: 8  } } 4
  %a.score-field{ href: '#', data: { score: 26 } } 13
  %a.score-field{ href: '#', data: { score: 12  } } 6
  %a.score-field{ href: '#', data: { score: 20 } } 10
  %a.score-field{ href: '#', data: { score: 30 } } 15
  %a.score-field{ href: '#', data: { score: 4  } } 2
  %a.score-field{ href: '#', data: { score: 34 } } 17
  %a.score-field{ href: '#', data: { score: 6  } } 3
  %a.score-field{ href: '#', data: { score: 38 } } 19
  %a.score-field{ href: '#', data: { score: 14  } } 7
  %a.score-field{ href: '#', data: { score: 32 } } 16
  %a.score-field{ href: '#', data: { score: 16  } } 8
  %a.score-field{ href: '#', data: { score: 22  } } 11
  %a.score-field{ href: '#', data: { score: 28 } } 14
  %a.score-field{ href: '#', data: { score: 18  } } 9
  %a.score-field{ href: '#', data: { score: 24 } } 12
  %a.score-field{ href: '#', data: { score: 10  } } 5
  %a.score-field{ href: '#', data: { score: 50 } } 25

.single
  %a.score-field{ href: '#', data: { score: 20 } } 20
  %a.score-field{ href: '#', data: { score: 1  } } 1
  %a.score-field{ href: '#', data: { score: 18 } } 18
  %a.score-field{ href: '#', data: { score: 4  } } 4
  %a.score-field{ href: '#', data: { score: 13 } } 13
  %a.score-field{ href: '#', data: { score: 6  } } 6
  %a.score-field{ href: '#', data: { score: 10 } } 10
  %a.score-field{ href: '#', data: { score: 15 } } 15
  %a.score-field{ href: '#', data: { score: 2  } } 2
  %a.score-field{ href: '#', data: { score: 17 } } 17
  %a.score-field{ href: '#', data: { score: 3  } } 3
  %a.score-field{ href: '#', data: { score: 19 } } 19
  %a.score-field{ href: '#', data: { score: 7  } } 7
  %a.score-field{ href: '#', data: { score: 16 } } 16
  %a.score-field{ href: '#', data: { score: 8  } } 8
  %a.score-field{ href: '#', data: { score: 11 } } 11
  %a.score-field{ href: '#', data: { score: 14 } } 14
  %a.score-field{ href: '#', data: { score: 9  } } 9
  %a.score-field{ href: '#', data: { score: 12 } } 12
  %a.score-field{ href: '#', data: { score: 5  } } 5
  %a.score-field{ href: '#', data: { score: 25 } } 25

.triple
  %a.score-field{ href: '#', data: { score: 60 } } 20
  %a.score-field{ href: '#', data: { score: 3  } } 1
  %a.score-field{ href: '#', data: { score: 54 } } 18
  %a.score-field{ href: '#', data: { score: 12 } } 4
  %a.score-field{ href: '#', data: { score: 39 } } 13
  %a.score-field{ href: '#', data: { score: 18 } } 6
  %a.score-field{ href: '#', data: { score: 30 } } 10
  %a.score-field{ href: '#', data: { score: 45 } } 15
  %a.score-field{ href: '#', data: { score: 6  } } 2
  %a.score-field{ href: '#', data: { score: 51 } } 17
  %a.score-field{ href: '#', data: { score: 9  } } 3
  %a.score-field{ href: '#', data: { score: 57 } } 19
  %a.score-field{ href: '#', data: { score: 21 } } 7
  %a.score-field{ href: '#', data: { score: 48 } } 16
  %a.score-field{ href: '#', data: { score: 24 } } 8
  %a.score-field{ href: '#', data: { score: 33 } } 11
  %a.score-field{ href: '#', data: { score: 42 } } 14
  %a.score-field{ href: '#', data: { score: 27 } } 9
  %a.score-field{ href: '#', data: { score: 36 } } 12
  %a.score-field{ href: '#', data: { score: 15 } } 5
