%h1 Gespielte Legs

%table
  %tr
    %th Datum
    %th
    %th
    %th

  - @legs.each do |leg|
    %tr
      %td= leg.created_at.strftime("%d %b %y")
      %td= link_to 'Show', leg
      %td= link_to 'Destroy', leg, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Neues Leg beginnen', { :controller => "legs", :action => "create" }, :method => "post"
